In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns
import collections

%matplotlib inline
# Set the figure size - handy for larger output
from matplotlib import pyplot as plt
plt.rcParams["figure.figsize"] = [10, 6]
# Set up with a higher resolution screen (useful on Mac)
%config InlineBackend.figure_format = 'retina'

In [21]:
# Convert the dictionary into DataFrame 
df = pd.read_csv(r"D:\NYCDataScienceAcademy\NYCDataScienceAcademy\Python\Project\Selenium_proj\Final_company_business_names.csv")
df_v2 = pd.DataFrame(df) 
df.head()
   
# Before renaming the columns 
print(df_v2.columns) 
   
df_v2.rename(columns = {'title':'BName', 'rating':'Rating', 'num_hires':'#Hires','price':'#Starting_Price','num_reviews':'#Reviews'}, inplace = True) 

# After renaming the columns 
print(df_v2.columns)

Index(['title', 'rating', 'num_hires', 'num_reviews', 'price'], dtype='object')
Index(['BName', 'Rating', '#Hires', '#Reviews', '#Starting_Price'], dtype='object')

In [15]:
#Import the csv
#df_orig = pd.read_csv(r"D:\NYCDataScienceAcademy\NYCDataScienceAcademy\Python\Project\Selenium_proj\Final_company_business_names.csv")
df_orig = pd.read_csv(r"D:\NYCDataScienceAcademy\NYCDataScienceAcademy\Python\Project\Selenium_proj\Final_company_business_names.csv")
#Temp = pd.read_csv(r"D:\NYCDataScienceAcademy\NYCDataScienceAcademy\Python\Project\Selenium_proj\companies_49441.csv")
#Retrun 5 rows 
df_orig.head() 

#type(Temp)

                            title  rating  num_hires  num_reviews price
0      1 800 Home Inspection inc.     NaN          0            0  $250
1       1st Call Home Inspections     4.8         19           15  $225
2             3E Home Inspections     5.0          1            8  $299
3        4 State Home Inspections     4.9         26           17  $350
4  4Site Building Inspections LLC     5.0          0           10  $275

In [ ]:
df = df_orig.copy()
type(df)# determine datatype
df.dtypes #determine datatypes of the columns

In [ ]:
  
 
for dtype in df.dtypes.iteritems():
    print(dtype)
    #Find mean 
#mean1 = Temp['price'].mean()
# sum1 = df['Salary'].sum()
# max1 = df['Salary'].max()
# min1 = df['Salary'].min()
# count1 = df['Salary'].count()
# median1 = df['Salary'].median() 
# std1 = df['Salary'].std() 
# var1 = df['Salary'].var()

In [22]:
#clenaing the currency field for convert5tion to object from string
def clean_currency(x):
    """ If the value is a string, then remove currency symbol and delimiters
    otherwise, the value is numeric and can be converted
    """
    if isinstance(x, str):
        return(x.replace('$', '').replace(',', ''))
    return(x)

In [23]:
#Converting from string to float
df['price'] = df['price'].apply(clean_currency).astype('float')
df['price_Type'] = df['price'].apply(lambda x: type(x).__name__)

In [25]:
df['price_Type'] = df['price'].apply(lambda x: type(x).__name__)
 
df.head()

#check the types of data in a column using value_counts() :
df['price'].apply(type).value_counts()
df.head()

,title,rating,num_hires,num_reviews,price,price_Type
0,1 800 Home Inspection inc.,NaN,0,0,250.0,float
1,1st Call Home Inspections,4.8,19,15,225.0,float
2,3E Home Inspections,5.0,1,8,299.0,float
3,4 State Home Inspections,4.9,26,17,350.0,float
4,4Site Building Inspections LLC,5.0,0,10,275.0,float

In [27]:
#Renaming fields to busines names
# Before renaming the columns 
print(df_v2.columns) 
   
df.rename(columns = {'title':'BName', 'rating':'Rating', 'num_hires':'#Hires','price':'#Starting_Price','num_reviews':'#Reviews'}, inplace = True) 

# After renaming the columns 
print(df.columns)

Index(['BName', 'Rating', '#Hires', '#Reviews', '#Starting_Price'], dtype='object')
Index(['BName', 'Rating', '#Hires', '#Reviews', '#Starting_Price',
       'price_Type'],
      dtype='object')

In [28]:
# mean of starting price
mean1 = df['#Starting_Price'].mean()
mean1

259.64310954063603

In [29]:
# Max of stating price
max1 = df['#Starting_Price'].max()
max1

585.0

In [31]:
# Max of stating price
min1 = df['#Starting_Price'].min()
min1

96.0

In [33]:
#Find mode(highest frequency) of price
# Find the 
# calculate the frequency of each item

data = collections.Counter(df.'#Starting_Price')
data_list = dict(data)

# Print the items with frequency
print(data_list)

# Find the highest frequency
max_value = max(list(data.values()))
mode_val = [num for num, freq in data_list.items() if freq == max_value]
if len(mode_val) == len(num_list):
   print("No mode in the list")
else:
   print("The Mode of the list is : " + ', '.join(map(str, mode_val)))

SyntaxError: invalid syntax (<ipython-input-33-fecc810dda9b>, line 5)

In [40]:
#top then service providers by hires


# df2=df[((df['num_reviews'] >= 2) & (df['num_hires'] >=0) & (df['rating'] ==5))] #Beware Selecting business that have high rating and reviews but no hires
# df2
# df3 = df2.iloc[:,0:5] # display selected columns from teh result,
# df3
top10 = df.nlargest(10, "#Hires") 
top10Businesses=top10.iloc[:,0:5]
top10Businesses

,BName,Rating,#Hires,#Reviews,#Starting_Price
198,Home Inspection Connection LLC Voted Thumb...,4.9,377,243,300.0
200,Home Inspections of Mid-Florida LLC,4.8,362,249,200.0
230,Inspectit LLC,4.8,359,235,175.0
358,Sherman Inspection Inc.,4.7,219,98,275.0
97,Carpenter Home Inspections LLc,4.9,206,126,200.0
215,House Pro Home Inspection,4.9,180,135,250.0
418,Williams' Home Inspection Services,4.8,176,118,150.0
297,Optimum Home Inspections LLC,4.9,167,106,175.0
122,Danrocks Home Inspections,4.8,162,106,285.0
316,Primestar Home Inspections,4.8,149,108,255.0

In [36]:
#top 10 service providers by hires

top_hires = df.Hires.value_counts()
top_hires[:10].plot(kind='barh')
plt.xlabel('Title');

#top_hires[:10].sort(ascending=0).plot(kind='barh')
sns.barplot(top_hires.index, top_hires.values)

# rep_plot = df.groupby("title").sum().plot(kind='bar')
# #rep_plot = df.groupby("title").nlargest(10, "num_hires") .plot(kind='bar')
# rep_plot.set_xlabel("title")
# rep_plot.set_ylabel("num_hires")

SyntaxError: invalid syntax (<ipython-input-36-ed1ce7060465>, line 3)

In [64]:
#top then service providers by reviews
top10Review = df.nlargest(10, "num_reviews") 
top10Review

KeyError: 'num_reviews'

In [63]:
#top 10 business by hires for business with 5 star rating
 
Temp_top10_5Star=top10_5Star.nlargest(10,['#Hires','#Starting_Price'])
top10_5Star=Temp_top10_5Star.iloc[:,0:5] #display first 5 columns
top10_5Star

                             BName  Rating  #Hires  #Reviews  #Starting_Price
13    A&A Property Inspections LLC     5.0      54        37            245.0
8         901 Home Inspection, LLC     5.0      19         9              NaN
10       A Premier Home Inspection     5.0       9        16            295.0
20             AC Home Inspections     5.0       6         6            285.0
19           Able Home Inspections     5.0       6         3            200.0
12   A.O. Pro Home Inspections LLC     5.0       4        10            275.0
9    A Close Look Home Inspections     5.0       3        11              NaN
14      A&T Home Inspections, Inc.     5.0       2         4              NaN
2              3E Home Inspections     5.0       1         8            299.0
4   4Site Building Inspections LLC     5.0       0        10            275.0

In [70]:
#Companies with 5 start rating and zero hires

df2=df[((df['#Hires'] ==0) & (df['Rating'] ==5))] #Beware Selecting business that have high rating and reviews but no hires
Five_star_NoHires=df2.iloc[:,0:5]

Five_star_NoHires.sort_values(by='#Reviews', ascending=False)

#top10_5Star=Temp_top10_5Star.iloc[:,0:5] #display first 5 columns
#df[df['num_reviews'] > df['num_hires'] ]

#df[((df['num_reviews']  < 10) & (df['num_hires'] ==0)) |  df['rating']<=4.0]

#df[((df['num_reviews'] >= 2) & (df['num_hires'] ==0))]  
#df2=df[((df['num_reviews'] >= 2) & (df['num_hires'] >=0))] #Beware Selecting business that have high rating and reviews but no hires
# df2=df[((df['num_reviews'] >= 2) & (df['num_hires'] >=0) & (df['rating'] ==5))] #Beware Selecting business that have high rating and reviews but no hires
# df2
# df3 = df2.iloc[:,0:5] # display selected columns from teh result,
# df3
# #df[df['num_reviews'] > df['num_hires'] ]

# #df[((df['num_reviews']  < 10) & (df['num_hires'] ==0)) |  df['rating']<=4.0]

# #df[((df['num_reviews'] >= 2) & (df['num_hires'] ==0))]  
# df2=df[((df['num_reviews'] >= 2) & (df['num_hires'] ==0))] #Beware Selecting business that have high rating and reviews but no hires
# df2
# df3 = df2.iloc[:,0:5] # display selected columns from teh result,
# df3
# #df[df2.columns[0:4]]

,BName,Rating,#Hires,#Reviews,#Starting_Price
4,4Site Building Inspections LLC,5.0,0,10,275.0
213,Hot Inspections,5.0,0,10,199.0
53,Augusta Area Home Inspections,5.0,0,10,275.0
166,"Foresight Inspection Services, LLC",5.0,0,10,NaN
386,The Inspection Boys,5.0,0,10,275.0
69,Black River Consulting,5.0,0,9,99.0
40,All Type Home Inspections,5.0,0,6,NaN
158,Explain This House Property Inspections,5.0,0,6,175.0
374,Structure Check LLC,5.0,0,6,NaN
42,"Alliance Inspection Services, LLC",5.0,0,4,NaN
412,Wagner home inspections,5.0,0,4,300.0
180,Golden Gate Home Inspections,5.0,0,4,585.0
274,MK Home Inspections,5.0,0,3,240.0
253,Kloeker Inspections,5.0,0,3,NaN
319,Professional Home Inspection,5.0,0,3,NaN
339,RFS LLC,5.0,0,3,250.0
104,Chim-Dry Inc,5.0,0,3,NaN
80,"Bricks to Beams Home Inspection, LLC",5.0,0,3,NaN
37,Alcor Inspex,5.0,0,3,275.0
334,"Reliable Home Services, Inc. (dba RHS, Inc.)",5.0,0,2,NaN
321,Property Owl Inspections LLC,5.0,0,2,300.0
31,Affordable Home Inspections,5.0,0,2,NaN
50,ARK Real Estate Inspection Services,5.0,0,2,NaN
292,On The Nose Home Inspections,5.0,0,2,249.0
333,Red Line Home Inspections LLC,5.0,0,1,NaN
393,TOP HOME INSPECTION LLC,5.0,0,1,NaN
402,U.S. Home Inspection,5.0,0,1,300.0
306,Pillar To Post Home Inspectors,5.0,0,1,300.0
304,Pillar to Post - Kevin Chadderton,5.0,0,1,250.0
287,Northeast Oil Burner Service,5.0,0,1,300.0
210,Hometown Inspections,5.0,0,1,250.0
255,KukishCon,5.0,0,1,470.0
237,Invest Home Inspection,5.0,0,1,300.0
222,Inspect The Best WI,5.0,0,1,275.0
211,HomeWiz,5.0,0,1,NaN
204,"Home Pro Inspectors, Inc.",5.0,0,1,NaN
168,Four Corners Home Inspection LLC,5.0,0,1,NaN
163,Fitzgerald Home inspection,5.0,0,1,NaN
148,Elite Home Inspections,5.0,0,1,225.0
144,"Easy Choice Home Inspections, LLC",5.0,0,1,265.0
116,"Cream City Home Inspections, LLC",5.0,0,1,NaN
115,Crawl Daddy Property Inspections,5.0,0,1,NaN
103,Chiefs Home Inspections,5.0,0,1,230.0
92,Callahan Inspection Services LLC,5.0,0,1,200.0
78,Brady Property Services,5.0,0,1,NaN
424,Xpress Inspections,5.0,0,1,150.0